.heading {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}
.buscador {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: start;
}
.btn-block {
  width: 100%;
}
